html {
  background-color: #f3eed1;
  color: #171c19;
  font-family: 'League Spartan', sans-serif;
  background-image: url("/images/background.png");
  margin: none;
}

header {
  display: flex;
  justify-content: center;
}

header > h1 {
  color: #ffe7cc;
  background-color: #44554c;
  padding: .2em 1em .1em 1em;
  font-size: 3em;
  font-variant: small-caps;
}

body {
  min-height: 100vh;
  display: flex;
  margin: 0;
  flex-direction: column;
}

h1 {
  font-weight: bold;
}

main {
  flex: 1;
  margin: auto;
  background-color: #f3eed1;
  width: 50%;
  padding: 1em 2em 1em 2em;
}

img {
  max-width: 100%;
}

footer {
  background-color: #44554c;
  margin: none;
  margin-top: 2em;
  display: flex;
  min-height: 80px;
}

footer > * {
  margin: auto;
  width: 50%;
  color: #ffe7cc;
}

a {
  color: #44554c;
}

