html {
  background-color: #f4f0d7;
  color: #171c19;
  font-family: 'League Spartan', sans-serif;
  margin: none;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #44554c;
}

header > h1 {
  color: #f4f0d7;
  background-color: #44554c;
  padding: .2em 1em .1em 1em;
  font-size: 2em;
  font-variant: small-caps;
}

.title {
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  margin: 0;
  flex-direction: column;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

main {
  flex: 1;
  margin: auto;
  background-color: #f4f0d7;
  width: 50%;
  padding: 1em 2em 1em 2em;
}

img {
  width: 100%;
}

footer {
  background-color: #44554c;
  margin-top: 2em;
  display: flex;
  min-height: 80px;
  padding: 1em 2em 1em 2em;
}

footer > * {
  margin: auto;
  width: 50%;
  color: #ffe7cc;
}

.post-title {
  padding: 1em;
}

a {
  background-color: #44554c;
  color: #f4f0d7;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  main {
    width: auto;
    padding: 1em;
    margin: 0;
  }

  header, footer {
    width: auto;
  }

  footer > * {
    margin: 0;
    width: 100%;
  }
}

