html {
  background-color: #f4f0d7;
  color: #171c19;
  font-family: 'League Spartan', sans-serif;
  margin: none;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #44554c;
}

header > h1 {
  color: #f4f0d7;
  background-color: #44554c;
  padding: .2em 1em .1em 1em;
}

.title {
  text-decoration: none;
  padding: 0;
  font-size: 1em;
  font-variant: small-caps;
}

body {
  min-height: 100vh;
  display: flex;
  margin: 0;
  flex-direction: column;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
  margin: 0;
}

main {
  flex: 1;
  margin: auto;
  background-color: #f4f0d7;
  max-width: 800px;
  padding: 1em 2em 1em 2em;
}

img {
  width: 100%;
}

footer {
  background-color: #44554c;
  margin-top: 2em;
  display: flex;
  min-height: 80px;
  padding: 1em 2em 1em 2em;
}

footer > * {
  margin: auto;
  max-width: 800px;
  color: #f4f0d7;
}

.post-title {
  background-color: transparent;
  color: #171c19;
  font-size: xx-large;
  margin-bottom: .2em;
}

.post-title > a {
  background-color: transparent;
  color: #171c19;
  text-decoration: none;
  padding: 0;
  border: none;
  font-size: xx-large;
}

a {
  background-color: #44554c;
  color: #f4f0d7;
  padding: .5em 1.5em .5em 1.5em ;
  border: 1px solid #44554c;
  font-size: small;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  main {
    width: auto;
    padding: 1em;
    margin: 0;
  }

  header, footer {
    width: auto;
  }

  footer > * {
    margin: 0;
    width: 100%;
  }
}

.tags {
  display: flex;
  gap: .5em;
  align-items: center;
}

.tag { 
  text-decoration: none;
  padding: .5em 1.5em .5em 1.5em ;
  border: 1px solid #44554c;
  background-color: transparent; 
  color: #44554c;
  font-size: small;
  align-self: flex-start;
}

.posts-list {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 0;
}

.posts-list-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.read-more {
  align-self: flex-end;
}

.post-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
