html {
  background-color: #f4f0d7;
  color: #171c19;
  font-family: 'League Spartan', sans-serif;
  margin: none;
}

header {
  border-bottom: 1px solid #44554c;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}


.header-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 800px;
  align-items: center;
  padding: 1em;
}

.header-icon-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.title-link {
  display: flex;
  color: #44554c;
  background-color: #f4f0d7;
  border: none;
  height: 3.5em;
  padding: 0;
  margin: 0;
}

.title-link > svg {
  height: 100%;
  width: auto;
}

body {
  min-height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;

  --pagefind-ui-primary: #44554c;
  --pagefind-ui-text: #44554c;
  --pagefind-ui-background: #f4f0d7;
  --pagefind-ui-border: #44554c;
  --pagefind-ui-tag: #44554c;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
  margin: 0;

}

main {
  flex: 1;
  margin: auto;
  background-color: #f4f0d7;
  max-width: 800px;
  width: 100%;
  padding: 1em 2em 1em 2em;
}

img {
  max-width: 100%;
}

img.banner {
  width: 100%;
  max-height: 300px;
  object-fit:cover;
}

footer {
  background-color: #44554c;
  margin-top: 2em;
  display: flex;
  min-height: 80px;
  padding: 1em 2em 1em 2em;
}

footer > * {
  margin: auto;
  max-width: 800px;
  color: #f4f0d7;
}

.post-title {
  background-color: transparent;
  color: #171c19;
  font-size: xx-large;
  margin-bottom: .2em;
}

.post-title > a {
  background-color: transparent;
  color: #171c19;
  text-decoration: none;
  padding: 0;
  border: none;
  font-size: xx-large;
}

.post-title > a:hover {
  text-decoration: underline;
}

a {
  background-color: #44554c;
  color: #f4f0d7;
  padding: .5em 1.5em .5em 1.5em ;
  border: 1px solid #44554c;
  font-size: small;
  transition: font-weight 0.2s ease, color 0.2s ease, text-decoration 0.2s ease;
}

a:hover {
  font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 768px) {
  main {
    width: auto;
    padding: 1em;
    margin: 0;
  }

  header, footer {
    width: auto;
  }

  footer > * {
    margin: 0;
    width: 100%;
  }

  .header-container {
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
  }

  .menu {
    display: none;
    flex-direction: column;
    transition: display 0.3s ease-in;
  }

  .menu-icon {
    display: block;
  }

  div:has(#menu-toggle:checked) ~ .menu {
    display: flex;
  }
}

.tags {
  display: flex;
  gap: .5em;
  align-items: center;
}

.tag { 
  text-decoration: none;
  padding: .5em 1.5em .5em 1.5em ;
  border: 1px solid #44554c;
  background-color: transparent; 
  color: #44554c;
  font-size: small;
  align-self: flex-start;
}

.posts-list {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 0;
}

.posts-list-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.read-more {
  align-self: flex-end;
}

.post-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-return {
  display: inline-block;
  margin-bottom: 1em;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-list-item {
  list-style-type: none;
  align-content: center;
}

.nav-list-item > a {
  font-size: medium;
  display: inline-block;
}

.nav-list-item > a:not(.active) {
  background-color: transparent;
  border: none;
  color: #44554c;
}
