{{ define "main" }}
  <img class="banner" src="/images/home-banner.png">
  {{ .Content }}
  <ul class="posts-list">
  {{ range where .Site.RegularPages "Params.hidden" "ne" true }}
    <li class="posts-list-item">
      <h2 class="post-title">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </h2>
      <span>{{ .Date | time.Format ":date_long" }}</span>
      {{ .Summary }}
      <div class="post-infos">
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}  
        {{ if .Truncated }}
          <a class="read-more" href="{{ .RelPermalink }}">Lire plus...</a>
        {{ end }}
      </div>
    </li>
  {{ end }}
  </ul>
{{ end }}
